body {
  background-color: white;
  text-decoration-color: black;
}

td{
  border-bottom: 1px solid #ddd;
}

body {
  background-image: url("https://www.hetwebsite.net/het/profiles/image/babbage.jpg");
}
